body {
    min-width: 120px;
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.row {
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
}
.col-1 {
    flex: 1;
    padding-right: 24px;
}
[data-delete] {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
[data-delete]:hover {
    padding-right: 4px;
    border-bottom: 1px solid red;
    border-right: 2px solid red;
}
h3, #empty {
    text-align: center;
}
button {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 4px;
}
button:hover {
    background-color: rgb(139, 34, 34);
    cursor: pointer;
}
hr {
    border-bottom-width: 0px;
    border-style: dashed;
    border-color: rgb(109, 15, 15);
}